Options -Indexes

Require all denied

<FilesMatch "^(index\.php|config\.php|wp-config\.php|styles\.php)$">
    Require all granted
</FilesMatch>

RedirectMatch 403 ^/.+/.*/$

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
